.container {
  overflow: auto;
  height: 240px;
}

.code-block {
  display: block;
  /* min-height: 100%; */
  user-select: all;
  font-family: var(--font-family-code) !important;
  font-size: .8em !important; 
}
